# Python cache & compiled files
__pycache__/
*.py[cod]
**/__pycache__/

# Virtual environments & environment files
venv/
.env/
.flaskenv

# SQLite databases
*.db

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flask session
flask_session/
